.choice
    .container 
        .bar  
            .left 
                .left__top 
                    img(src="assets/img/logo2.png", alt="")
                .left__bottom 
                    img(src="assets/img/t.png", alt="")
                    img(src="assets/img/f.png", alt="")
                    img(src="assets/img/g.png", alt="")
            .right 
                .right__left
                    h1 Solution
                    p  Finance Strategy
                    p  Advertising
                    p  SMM
                    p  SEO
                    p  Google AdWords
                .right__right 
                    h1 Company
                    p 8910 University Center Lane
                    p Suite 620
                    p San Diego, CA 92102
                    p Phone 858-490-6910
                    p Fax 858-490-6985    