.footer 
    .container 
        .bar 
            .left 
                ul.ul 
                    li: a(href="#") HOME 
                    li: a(href="#") PAGES  
                    li: a(href="#") Pricing         
                    li: a(href="#") Blog
                    li: a(href="#") Contact  
            .right 
                p © 2018 Casumi, Made by DeoThemes. 