.middle 
    .container 
        .bigtitle 
            |Our approach
        .blog 
            .menu1 
                .row 
                    .col-12.col-lg-6.col-md-6.image 
                        img(src="assets/img/img1.jpg", alt="") 
                    .col-12.col-lg-6.col-md-6.content 
                        .top  
                            .num 1 
                            .title Brainstorming
                        .body The practice of helping organizations to improve their performance.<br><br>On the other hand, we bossed ourselves around, set impossible goals, and demanded longer hours than office jobs usually entail. It was the ultimate “flextime,”
            .menu1 
                .row 
                    .col-12.col-lg-6.col-md-6.image
                        img(src="assets/img/img2.jpg", alt="") 
                    .col-12.col-lg-6.col-md-6.content
                        .top  
                            .num 2 
                            .title Solution
                        .body The practice of helping organizations to improve their performance.<br><br>On the other hand, we bossed ourselves around, set impossible goals, and demanded longer hours than office jobs usually entail. It was the ultimate “flextime,”
            .menu1 
                .row 
                    .col-12.col-lg-6.col-md-6.image 
                        img(src="assets/img/img3.jpg", alt="") 
                    .col-12.col-lg-6.col-md-6.content 
                        .top  
                            .num 3 
                            .title Support
                        .body The practice of helping organizations to improve their performance.<br><br>On the other hand, we bossed ourselves around, set impossible goals, and demanded longer hours than office jobs usually entail. It was the ultimate “flextime,”
