.neck
    .bigtitle Competency and Quality Services
    .container 
        .menu 
            .row
                .col-12.col-lg-4.col-md-4
                    div.box
                        img(src="assets/img/icon1.png", alt="")
                        .title Strategy & Planning
                        p The practice of helping organizations to improve their performance.
                .col-12.col-lg-4.col-md-4
                    div.box
                        img(src="assets/img/icon2.png", alt="")
                        .title Finance Services
                        p The practice of helping organizations to improve their performance.
                .col-12.col-lg-4.col-md-4
                    div.box
                        img(src="assets/img/icon3.png", alt="")
                        .title Management
                        p The practice of helping organizations to improve their performance.
                .col-12.col-lg-4.col-md-4
                    div.box
                        img(src="assets/img/icon4.png", alt="")
                        .title Audit and Evaluation
                        p The practice of helping organizations to improve their performance.
                .col-12.col-lg-4.col-md-4
                    div.box
                        img(src="assets/img/icon5.png", alt="")
                        .title Taxes and Efficiency
                        p The practice of helping organizations to improve their performance.
                .col-12.col-lg-4.col-md-4
                    div.box 
                        img(src="assets/img/icon6.png", alt="")
                        .title Insurance Services
                        p The practice of helping organizations to improve their performance.