.service 
    .menu 
        h1 Hundreds of businesses already <br>trust us. Ready to start?
        .btn 
            button Contact Us  
        .bar 
            a(href="#").link
                img(src="assets/img/jquery.png", alt="") 
            a(href="#").link
                img(src="assets/img/git.png", alt="") 
            a(href="#").link
                img(src="assets/img/element.png", alt="") 
            a(href="#").link
                img(src="assets/img/sass.png", alt="")
            <br>
            a(href="#").link
                img(src="assets/img/node.png", alt="") 
            a(href="#").link
                img(src="assets/img/boot.png", alt="") 
            a(href="#").link
                img(src="assets/img/envato3.png", alt="") 
            a(href="#").link
                img(src="assets/img/w.png", alt="") 